html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Inter", sans-serif;
}

.post-imagem-sobreposta {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw; /* Define largura da imagem para toda a viewport */
    max-height: 300px;
    object-fit: cover;
    margin-top: -30px !important;
    z-index: -1;
}