@model Blog.Data.Models.Post

@{
    ViewData["Title"] = "Publicar post";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-12 col-md-6">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Conteudo" class="control-label"></label>
            <textarea asp-for="Conteudo" class="form-control" rows="20"></textarea>
            <span asp-validation-for="Conteudo" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <input type="submit" value="Publicar" class="btn btn-primary" />
            <a href="javascript:history.back()" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
